<ion-view title="Mapa" ng-controller="MapCtrl">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content scroll="false" style="margin-bottom: 16px">
    <map on-create="mapCreated(map)"></map>
  </ion-content>

  <ion-footer-bar class="bar-stable op-footer-bar">
    <div class="row">
      <div class="col">
        <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate"></a>
      </div>
      <div class="col"></div>
      <div class="col">
        <a ng-click="reportParkingPlace()" class="button button-icon icon ion-android-locate"></a>      
      </div>
      <div class="col"></div>
      <div class="col">
        <a ng-click="getNearParkingPlaces()" class="button button-icon icon ion-android-compass"></a>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>
