<ion-side-menus>
  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Onde Parar</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/search">
          Busca
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/map">
          Mapa
        </ion-item>
      </ion-list>
    </ion-content>

    <footer class="bar bar-footer bar-stable op-footer-bar" style="z-index: 99999">
      <div class="row" ng-switch on="signed">

        <!--Se estiver logado, vai aparecer as duas divs abaixo-->
        <div class="col-80" ng-switch-when="true">{{user.name}}</div>
        <div class="col-20" ng-switch-when="true">
          <button ng-click="logout()" class="button button-icon ion-close-round"></button>
        </div>

        <!--Se não estiver logado, vai aparecer a div abaixo-->
        <div class="col" ng-switch-default>
          <button ng-click="login()" class="button op-login-btn">Login</button>
        </div>
        
      </div>
    </footer>
  </ion-side-menu>
</ion-side-menus>
